$color1: #001529;

.App {
  .Layout{
    .Header{
      height: 80px;
    }
    .Sider{
      min-height: calc(100vh - 80px);
      background-color: #fff;
    }
    .Content{
      min-height: calc(100vh - 80px); 
      padding:10px 20px;
    }
  }
}